*{
  margin: 0;
  padding: 0;
}

fieldset{
  border: solid 1px rgb(202, 201, 201);
}
legend{
  font-weight: bold;
}
label{
  display: block;
}

.conteudo{
  background-color: rgb(197, 197, 197);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box; /* no altera el tamanho da caixa ao agregar pdding*/
  margin: 15px;
}